.logo {
  font-size: 35px;
  font-family: 'Roboto Slab', serif;
  margin-top:20px;
  width:170px;
  height:130px;
  border-radius:13px;
}

}
}
.menu{
  font-size:20px;
  font-family: 'Lato', sans-serif;
  margin-bottom:110px;
}
.margin{
  margin-top:40px;
  margin-right: 30px;
  margin-left:30px;
  margin-bottom:50px;
  
  }
.tlo1 {
  background:#F8FDA7;
  border-color:#F60000;
  border-width:3px;
  border-style:solid;
  border-radius:5px;
}


.tlo {
background-color:green;
}
.test-picture {
  background:#eee ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0.8;
}

.picture {
  margin: 10px 0;
  width: 120px;
  background: white;
  padding: 10px;
  opacity: 0.9;
  border-radius: 5px;
  border: 1px solid silver;
  box-sizing: border-box;
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  transform: rotate(5deg);
  transition: 0.3s all ease-in-out;
  will-change: transform;
  align-items: flex-start;
}

.picture img {
  flex-basis: 100%;
  width: 100px;
}

.picture figcaption {
  margin-top: 10px;
}

.picture:nth-child(even) {
  transform: rotate(-2deg) scale(0.8);
}

.picture:hover {
  opacity: 1;
  transform: scale(1.1);
}
.site-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  background: ;
}

.side-menu-trigger {
  border: 30;
  border-radius: 15px;
  background: #ffffff;
  margin-bottom:15px;
  
}

.side-menu {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 300px;
  top: 20px;
  right: -300px;
  padding: 0;
  background: #34b399;
  transition: 0.3s transform ease-in-out;
}

.side-menu ul {
  position: absolute;
  display: flex;
  height: calc(100% - 20px);
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 0;
  list-style-type: none;
  align-content: flex-start
}

.side-menu ul li {
  display: flex;
  height: 30px;
  background: #ffffff;
  flex-basis: 100%;
  margin-top: 20px;
  color: #696e9e;
  border-radius: 5px;
  overflow: hidden;
  
}

.side-menu ul li a {
  display: flex;
  padding: 10px;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
}

.side-menu-trigger:focus ~ .side-menu, .side-menu:hover {
  transform: translateX(-300px); 
}
.test-photo{
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo {
  margin: 10px 0;
  width: 120px;
  background: white;
  padding: 10px;
  opacity: 0.7;
  border-radius: 5px;
  border: 3px solid silver;
  box-sizing: border-box;
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  transform: rotate(12deg);
  transition: 0.5s all ease-in-out;
  will-change: transform;
  align-items: flex-start;
}

.photo img {
  flex-basis: 100%;
  width: 100px;
}

.photo figcaption {
  margin-top: 10px;
}

.photo:nth-child(even) {
  transform: rotate(-2deg) scale(0.8);
}

.photo:hover {
  opacity: 1;
  transform: scale(1.1);
}
.test-zdj {
  width:530px;
 height:320px;
  margin-right:800px;
}
.ikona1{
  width:230px;
  height:150px;
}

.text-kontakt {
  font-family:'Roboto Slab', serif;
  font-size: 20px;
  
}
